.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding: 2px;
    min-height: 30px;
    height: auto;   
    background-color: #E8E8E8;
    overflow: hidden;
}
.item-text{
    display: block;
    height: auto;
    width: auto;
    overflow: hidden; 
    word-wrap: break-all;  
    padding: 10px;
}
.delete{
    background-color: #DE2F4A;  
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items:baseline;
}

